<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>后台管理中心</title>
<style type="text/css">

</style>
</head>

<body>
<div class="list">
<h6>学生管理<small><img src="/static/img/right.png" />学生列表</small></h6>
</div>
<div class="list1">
<table style="width:100%;" border="1px solid #ffff">
		<tr>
			<th style="width:20%">stid</th>
			<th style="width:30%">name</th>
			<th style="width:30%">sex</th>
			<th style="width:30%">age</th>
		</tr>
		
	</table>
</div>
</body>
</html>
